[user]
	email = long.nathaniel@gmail.com
	name = Nate Long
[alias]
	st = status
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[merge]
	ff = false
	tool = vimdiff
[pull]
	rebase = preserve
[push]
	default = simple
[core]
	editor = `which nvim`
[color]
	ui = true
	diff = true
[mergetool]
	path = `which nvim`
[diff]
	tool = vimdiff
