[alias]
    st = status
[merge]
[pull]
	rebase = preserve
[push]
	default = simple
[core]
	editor = `which nvim`
	ignorecase = false
[color]
	ui = true
	diff = true
[mergetool]
	path = `which nvim`
[diff]
	tool = vimdiff
